{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
        <div class="text-center">
            <h1 class="mt-5 mb-4">Quiz</h1>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
