{% extends 'base.html.twig' %}

{% block title %}Test results{% endblock %}

{% block body %}
    <div class="container">
        <h1>Yous quiz score: {{ score }}</h1>

        <div class="action-section">
            <a href="{{ path('app_quiz') }}" class="btn btn-primary">Retake Test</a>
        </div>

        <div class="table-section mt-5">
            <h2>Question results</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Question with correct answers</th>
                    <th scope="col">Questions with incorrect answers</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <ul>
                            {% for question in correctQuestions %}
                                <li>{{ question.statement }}</li>
                            {% else %}
                                <li>There are no right answers</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for question in incorrectQuestions %}
                                <li>{{ question.statement }}</li>
                            {% else %}
                                <li>There are no mistakes</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
